<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaJump</title>
    <link rel="stylesheet" href="../Static/Kantine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<header>
    <a href="#" class="logo">MANGAJUMP</a>
    <div id="menu" class="fa-solid fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#produkt">Manga</a></li>
            <li><a href="#toy">Products</a></li>
        </ul>
    </nav>
</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<section class="home" id="home">
    <div class="content">
        <h3>Welcome to MangaJump</h3>
        <p>Your ultimate destination for manga lovers! <br>
        Dive into our extensive collection of manga titles, explore exclusive merchandise, and stay updated with the latest releases. <br>
        Whether you're a seasoned reader or new to the world of manga, MangaJump has something for everyone. <br>
        Start your journey with us today!</p>
        
        ->
        <button class="btn" onclick="goToManga()">Explore more</button>
    </div>

    <div class="image">
        <img src="../Static/BESTEMC-removebg-preview.png" alt="">
    </div>
</section>

<section class="produkt" id="produkt">
    <h1 class="Piece">OnePiece</h1>

    <div class="box-container">

        <div class="box">
            <img src="../Static/ONEPIECE_VOLUME1.jpg" alt="">
            <div class="price">$19.99</div>
            <p>Volume 1</p>
            <button class="btn">Add to Cart</button>
        </div>

        <div class="box">
            <img src="../Static/one-piece-vol-2_4e924c4e-fa54-4076-b741-d6e362e2cf4b.webp" alt="">
            <div class="price">$19.99</div>
            <p>Volume 2</p>
            <button class="btn">Add to Cart</button>
        </div>

        <div class="box">
            <img src="../Static/one-piece-vol-2.jpg" alt="">
            <div class="price">$19.99</div>
            <p>Volume 3</p>
            <button class="btn">Add to Cart</button>
        </div>

        <div class="box">
            <img src="../Static/one-piece-vol-4.jpg" alt="">
            <div class="price">$19.99</div>
            <p>Volume 4</p>
            <button class="btn">Add to Cart</button>
        </div>

        <div class="box">
            <img src="../Static/one-piece-vol-5.jpg" alt="">
            <div class="price">$19.99</div>
            <p>Volume 5</p>
            <button class="btn">Add to Cart</button>
        </div>

        <div class="box">
            <img src="../Static/vol_6.jpg" alt="">
            <div class="price">$19.99</div>
            <p>Volume 6</p>
            <button class="btn">Add to Cart</button>
        </div>

    </div> 
</section>

<section class="toy" id="toy">
    <h1 class="Piece">Merchandise</h1>

    <div class="box-container">

        <div class="box">
            <img src="../Static/luffy_hat.png" alt="">
            <div class="price">$10.99</div>
            <p>Luffy's Strawhat</p>
            <button class="btn">Add to Cart</button>
        </div>

        <div class="box">
            <img src="../Static/ace_hat.webp" alt="">
            <div class="price">$10.99</div>
            <p>Ace's hat</p>
            <button class="btn">Add to Cart</button>
        </div>

        <div class="box">
            <img src="../Static/tonytony.jpg" alt="">
            <div class="price">$15.99</div>
            <p>Tony Tony Chopper Action Figure</p>
            <h4>BEST SELLING</h4>
            <button class="btn">Add to Cart</button>
        </div>
        
        <div class="box">
            <img src="../Static/g5_luffy.jpg" alt="">
            <div class="price">$20.99</div>
            <p>Luffy Gear 5 Action Figure</p>
            <button class="btn">Add to Cart</button>
        </div>
        
        <div class="box">
            <img src="../Static/One-Piece-10-Plush-AOKIJI-New-Kuzan.webp" alt="">
            <div class="price">$15.99</div>
            <p>Kuzan Aokiji Action Figure</p>
            <button class="btn">Add to Cart</button>
        </div>
        
        <div class="box">
            <img src="../Static/sanei-one-piece-all-star-collection-op06-shanks-plush-s.jpg" alt="">
            <div class="price">$20.99</div>
            <p>Figarland Shanks Action Figure</p>
            <button class="btn">Add to Cart</button>
        </div>

    </div>

    <div class="footer">
        <div class="share">
            <a href="https://github.com/DaudOmar21/Prosjektoppgave2IT/tree/main#"><i class="fab fa-github">github</i></a>
            <a href="https://www.youtube.com/@DaudOmar-nd6wj"><i class="fab fa-youtube">youtube</i></a>
            <a href="https://x.com/noscopeforever"><i class="fab fa-twitter">twitter</i></a>
            <a href="https://www.instagram.com/daud.omar21/"><i class="fab fa-instagram">instagram</i></a>
        </div>
        <h5 class="credit"> created by <a href="#"> Daud Omar</a> All rights reserved</h5>
    </div>
</section>


<script>
function goToManga() {

    document.querySelector("#produkt").scrollIntoView({ behavior: "smooth" });

    document.querySelectorAll(".navbar a").forEach(a => a.classList.remove("active"));
    document.querySelector('.navbar a[href="#produkt"]').classList.add("active");
}


window.addEventListener("scroll", () => {
    const sections = document.querySelectorAll("section");
    const navLinks = document.querySelectorAll(".navbar a");

    let scrollPos = window.scrollY + 200;

    sections.forEach(sec => {
        if (scrollPos >= sec.offsetTop && scrollPos < sec.offsetTop + sec.offsetHeight) {
            navLinks.forEach(link => link.classList.remove("active"));
            const id = sec.getAttribute("id");

            const target = document.querySelector('.navbar a[href="#' + id + '"]');
            if (target) target.classList.add("active");
        }
    });
});

function goToProducts() {
    document.querySelector("#toy").scrollIntoView({ behavior: "smooth" });

    document.querySelectorAll(".navbar a").forEach(a => a.classList.remove("active"));
    document.querySelector('.navbar a[href="#toy"]').classList.add("active");
}

window.addEventListener("scroll", () => {
    const sections = document.querySelectorAll("section");
    const navLinks = document.querySelectorAll(".navbar a");

    let scrollPos = window.scrollY + 200;

    sections.forEach(sec => {
        if (scrollPos >= sec.offsetTop && scrollPos < sec.offsetTop + sec.offsetHeight) {

            navLinks.forEach(link => link.classList.remove("active"));
            const id = sec.getAttribute("id");

            const target = document.querySelector('.navbar a[href="#' + id + '"]');
            if (target) target.classList.add("active");
        }
    });
});
</script>

</body>
</html>
